@model PCMSP_MVC.ModelView.AboutUsModelView
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/masters/webMaster.cshtml";
}
<!-- Block IMG-bottom -->

<section class="background-contain bg-15 bg-blue-lighteen pt120">
    <div class="container">
        <div class="row">
            <div class="crumina-module crumina-module-img-bottom">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module-img-content medium-padding100">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">شرکت</h6>
                            <h2 class="heading-title">
                                به
                                <span class="c-primary">توسعه سیستم هوشمند پاندا </span> خوش آمدید.
                            </h2>
                            <div class="h6 heading-text">جمله راجب شرکت </div>
                        </div>
                        
                        <a href="15_pricing_tables.html" class="btn btn--green btn--with-shadow">
                            شروع کنید
                        </a>

                        <a href="03_products.html" class="btn btn-border btn--with-shadow c-primary">
                            تیم ما
                        </a>

                    </div>
                </div>

                <div class="col-lg-4 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                    <img class="img-bottom" src="~/Resources/Images/man.png" alt="man">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ... end Block IMG-bottom -->
<!-- Info Boxes -->

<section class="medium-padding100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-info-box info-box--numbers">
                    <h5 class="order-number">3.</h5>
                    <h3 class="h5 info-box-title">Who We Are</h3>
                    <p class="info-box-text">
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                        molestie consequat, vel illum dolore eu feugiat nulla facilisis.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-info-box info-box--numbers">
                    <h5 class="order-number">2.</h5>
                    <h3 class="h5 info-box-title">What We Do</h3>
                    <p class="info-box-text">
                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                        lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                        anteposuerit litterarum formas humanitatis per.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-info-box info-box--numbers">
                    <h5 class="order-number">1.</h5>
                    <h3 class="h5 info-box-title">How We Do It</h3>
                    <p class="info-box-text">
                        Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                        anteposuerit litterarum formas humanitatis per.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ... end Info Boxes -->
<!-- Testimonial Slider -->

<section class="crumina-module crumina-module-slider background-contain bg-16 bg-blue-lighteen pt100">
    <div class="container">
        <div class="row">
            <div class="crumina-module crumina-module-img-bottom">


                <div class="col-lg-8 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="crumina-module-img-content">
                                <div class="crumina-module crumina-heading">
                                    <h2 class="heading-title">نظرات مشتریان ما:</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="swiper-container top-navigation" data-show-items="2">
                                <div class="swiper-wrapper">
                                    
                                    @foreach (var customer in @Model.customerMessages)
                                    {
                                        @Html.Partial("_CustomerMessage",customer)
                                    }


                                </div>

                                <!--Prev next buttons-->

                                <div class="btn-slider-wrap navigation-top-right">

                                    <div class="btn-prev">
                                        <svg class="TSHPanda-icon icon-hover TSHPanda-icon-arrow-left-1">
                                            <use xlink:href="#TSHPanda-icon-arrow-left-1"></use>
                                        </svg>
                                        <svg class="TSHPanda-icon TSHPanda-icon-arrow-left1">
                                            <use xlink:href="#TSHPanda-icon-arrow-left1"></use>
                                        </svg>
                                    </div>

                                    <div class="btn-next">
                                        <svg class="TSHPanda-icon icon-hover TSHPanda-icon-arrow-right-1">
                                            <use xlink:href="#TSHPanda-icon-arrow-right-1"></use>
                                        </svg>
                                        <svg class="TSHPanda-icon TSHPanda-icon-arrow-right1">
                                            <use xlink:href="#TSHPanda-icon-arrow-right1"></use>
                                        </svg>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <img class="img-bottom" src="~/Resources/Images/man21.png" alt="man">
                </div>

            </div>
        </div>
    </div>

</section>

<!-- ... end Testimonial Slider -->
<!-- Teammembers -->

<section class="medium-padding100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-heading align-center">
                    <h2 class="heading-title">با تیم ما آشنا شوید</h2>
                    <div class="heading-text">
                        Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                        anteposuerit litterarum formas humanitatis per.
                    </div>
                </div>
            </div>

            <div class="teammembers-wrap">

                @foreach (var member in @Model.teamMemberses)
                {
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        @if (@Model.teamMemberses.IndexOf(member) % 2 == 0)
                        {
                            @Html.Partial("_teamMember",member)
                        }

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        @if (@Model.teamMemberses.IndexOf(member) % 2 == 1)
                        {
                            @Html.Partial("_teamMember", member)
                        }

                    </div>
                }

            </div>

        </div>
    </div>
</section>

<!-- ... end Teammembers -->
