@model PCMSP_MVC.Models.Customer
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/masters/webMaster.cshtml";
}

<section>
    <div class="container-fluid no-padding">

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 no-padding">
            <!-- Leaflet map -->
            <div id="map" style="height: 820px; position: relative;" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0">
                <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);width: 100%;">
                    <div class="leaflet-pane leaflet-tile-pane" style="width: 100%;">
                        <div class="leaflet-layer " style=" width: 100%; opacity: 1;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1619.89142682903!2d51.43799139699793!3d35.70696085958473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e03a34272d39b%3A0xc976e4965a64ab4b!2zVHNoUGFuZGEg2KrZiNiz2LnZhyDYs9uM2LPYqtmFINmH2YjYtNmF2YbYryDZvtin2YbYr9in!5e0!3m2!1sen!2s!4v1580379230009!5m2!1sen!2s" height="820px" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Leaflet map -->
        </div>

        <div class="col-lg-3 col-lg-offset-1 col-md-12 col-sm-12 pt100 pb100">
            <div class="breadcrumbs-wrap inline-items">
                <a href="#" class="btn btn--transparent btn--round">
                    <svg class="TSHPanda-icon TSHPanda-icon-home-icon-silhouette">
                        <use xlink:href="#TSHPanda-icon-home-icon-silhouette"></use>
                    </svg>
                </a>

                <ul class="breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="@Url.Action("Index","Media")">صفحه اصلی</a>
                        <svg class="TSHPanda-icon TSHPanda-icon-media-play-symbol">
                            <use xlink:href="#TSHPanda-icon-media-play-symbol"></use>
                        </svg>
                    </li>
                    <li class="breadcrumbs-item active">
                        <span>رویدادها</span>
                        <svg class="TSHPanda-icon TSHPanda-icon-media-play-symbol">
                            <use xlink:href="#TSHPanda-icon-media-play-symbol"></use>
                        </svg>
                    </li>
                </ul>
            </div>

            <div class="crumina-module crumina-heading">
                <h3 class="heading-title">با ما در تماس باشید</h3>
                <div class="heading-text">
                    راه های ارتباط با ما :
                </div>
            </div>
            <div class="widget w-contacts w-contacts--style2 ">
                <div class="contact-item display-flex">
                    <svg class="TSHPanda-icon TSHPanda-icon-placeholder-3">
                        <use xlink:href="#TSHPanda-icon-placeholder-3"></use>
                    </svg>
                    <span class="info">خیابان خواجه نصیر غربی(در امتداد خ طالقانی )، نرسیده به میدان سپاه پلاک ۱۷۹ زنگ دوم</span>
                </div>
                <div class="contact-item display-flex">
                    <svg class="TSHPanda-icon TSHPanda-icon-telephone-keypad-with-ten-keys">
                        <use xlink:href="#TSHPanda-icon-telephone-keypad-with-ten-keys"></use>
                    </svg>
                    <div class="info-wrap">
                        <span class="info">021-77534206 </span>

                    </div>
                </div>
                <div class="contact-item display-flex">
                    <svg class="TSHPanda-icon TSHPanda-icon-message">
                        <use xlink:href="#TSHPanda-icon-message"></use>
                    </svg>
                    <a href="#" class="info">info@tshpanda.com</a>
                </div>

                <a href="#" class="btn btn--grey btn--with-shadow js-message-popup cd-nav-trigger">
                    ارسال پیام
                </a>
            </div>

        </div>

    </div>
</section>


<!-- Send Message Popup -->

<div class="window-popup message-popup">
    <a href="#" class="popup-close js-popup-close cd-nav-trigger">
        <span class="TSHPanda-icon " style="top:10px; font-size:40px;">
            <i class="fa fa-times-circle-o fa-md fa-spin" style="top: 10px;"></i>
        </span>
    </a>

    <div class="send-message-popup">
        <h5>ارسال درخواست</h5>
        <p>فرم زیر را پر کرده و برای ما ارسال نمایید کارشناسان ما در سریعترین زمان ممکنه با شما تماس خواهند گرفت</p>

        @using (Html.BeginForm("submitContact", "userCustomer",
            FormMethod.Post, new { @class = "form-validate contact-form" }))
        {


            <div class="with-icon">
                @Html.TextBoxFor(m => m.name, new { placeholder = "نام کامل  یا نام شرکت", required = "required" })
                <span class="TSHPanda-icon ">
                    <i class="fa fa-user"></i>
                </span>
            </div>

            <div class="with-icon">
                @Html.TextBoxFor(m => m.email, new { placeholder = "آدرس پست الکترونیک", type = "email" })
                <span class="TSHPanda-icon ">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>

            <div class="with-icon">
                @Html.TextBoxFor(m => m.phone, new { placeholder = "شماره تلفن", type = "tel", required = "required", @class = "with-icon" })
                <span class="TSHPanda-icon ">
                    <i class="fa fa-phone"></i>
                </span>
            </div>

            <div class="with-icon">
                @Html.TextBoxFor(m => m.subject, new { placeholder = "موضوع درخواست", type = "text", required = "required", @class = "with-icon" })
                <span class="TSHPanda-icon ">
                    <i class="fa fa-thumb-tack"></i>
                </span>
            </div>

            <div class="with-icon">
                @Html.TextAreaFor(m => m.message, new { placeholder = "پیام کامل شما", style = "height: 180px; max-width: 441px;", type = "text", required = "required", @class = "with-icon" })
                <span class="TSHPanda-icon ">
                    <i class="fa fa-align-justify"></i>
                </span>
            </div>
            <button class="btn btn--green btn--with-shadow full-width" type="submit">
                <span><i class="fa fa-cog fa-md fa-spin"></i> ارسال درخواست</span>
            </button>
        }
    </div>
</div>

<!-- Send Message Popup -->
