@model PCMSP_MVC.ModelView.NewsModelView
@{
    ViewBag.Title = "News";
    Layout = "~/Views/masters/webMaster.cshtml";
}

<!-- Breadcrumbs -->

<div class="container">
    <div class="row">
        <div class="breadcrumbs-wrap inline-items with-border">
            <a href="#" class="btn btn--transparent btn--round">
                <svg class="TSHPanda-icon TSHPanda-icon-home-icon-silhouette"><use xlink:href="#TSHPanda-icon-home-icon-silhouette"></use></svg>
            </a>

            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="@Url.Action("Index","Media")">صفحه اصلی</a>
                    <svg class="TSHPanda-icon TSHPanda-icon-media-play-symbol"><use xlink:href="#TSHPanda-icon-media-play-symbol"></use></svg>
                </li>
                <li class="breadcrumbs-item active">
                    <span>اخبار</span>
                    <svg class="TSHPanda-icon TSHPanda-icon-media-play-symbol"><use xlink:href="#TSHPanda-icon-media-play-symbol"></use></svg>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- ... end Breadcrumbs -->

<div class="container">
    <div class="row">

        <!-- Sidebar-->

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <aside aria-label="sidebar" class="sidebar sidebar-right">

                <aside class="widget w-search">
                    <h5 class="widget-title">Search form</h5>
                    <form method="get">
                        <div class="with-icon">
                            <input name="name" placeholder="پس از نوشتن ، Enter را بزنید " type="text">
                            <svg class="TSHPanda-icon TSHPanda-icon-search"><use xlink:href="#TSHPanda-icon-search"></use></svg>
                        </div>
                    </form>
                </aside>

                <aside class="widget w-about">
                    <div class="site-logo">
                        <a href="index-2.html" class="full-block"></a>
                        <img src="img/logo.png" alt="TSHPanda">
                        <div class="logo-text">
                            <div class="logo-title">TSHPanda</div>
                            <div class="logo-sub-title">app startup</div>
                        </div>
                    </div>

                    <p>
                        تبلیغات خودمون
                    </p>

                    <a href="index-2.html" class="btn btn-border btn--with-shadow c-primary">
                        read more
                    </a>
                </aside>

                <aside class="widget w-category">
                    <h5 class="widget-title">Categories</h5>
                    <ul class="category-list">
                        <li>
                            <a href="#">
                                Entrepreneur
                                <span class="cat-count">39</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Innovation
                                <span class="cat-count">632</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Startup
                                <span class="cat-count">8</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Strategy
                                <span class="cat-count">24</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Tech
                                <span class="cat-count">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Marketing
                                <span class="cat-count">16</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Trends
                                <span class="cat-count">9</span>
                            </a>
                        </li>
                    </ul>
                </aside>

                

                <aside class="widget w-latest-news">
                    <h5 class="widget-title">جدیدترین اخبار</h5>

                    <ul class="latest-news-control" role="tablist">

                        <li role="presentation" class="tab-control active">
                            <a href="#latest" role="tab" data-toggle="tab" class="control-item">اخیر</a>
                        </li>

                        <li role="presentation" class="tab-control">
                            <a href="#popular" role="tab" data-toggle="tab" class="control-item">محبوب</a>
                        </li>

                        

                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="latest">
                            <ul class="latest-news-list">
                                
                               @foreach (var model in @Model.LatestNewsModels)
                               {
                                   @Html.Partial("_LatestNews",model)
                               }

                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="popular">
                            <ul class="latest-news-list">

                                @foreach (var model in @Model.popular)
                                {
                                    @Html.Partial("_LatestNews", model)
                                }

                            </ul>
                        </div>
                      
                    </div>


                </aside>

                


               

                <aside class="widget w-tags">
                    <h5 class="widget-title">Categories</h5>
                    <ul class="tags-list">
                        <li>
                            <a href="#">App</a>
                        </li>
                        <li>
                            <a href="#">WordPress</a>
                        </li>
                        <li>
                            <a href="#">UI Kit</a>
                        </li>
                        <li>
                            <a href="#">Innovation</a>
                        </li>
                        <li>
                            <a href="#">Trends</a>
                        </li>
                        <li>
                            <a href="#">Startup</a>
                        </li>
                        <li>
                            <a href="#">Marketing</a>
                        </li>
                        <li>
                            <a href="#">WordPress Themes</a>
                        </li>
                    </ul>
                </aside>


            </aside>
        </div>

        <!-- End Sidebar-->
        <!-- Blog posts-->
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <main class="main">
                @foreach (var news in Model.NewsModels)
                {
                    @Html.Partial("_NewsPost",news);
                }

            </main>
        </div>
        <!--end Blog posts-->




        <div class="row mb60">
            <div class="col-lg-12">
                <nav class="navigation">
                    <a href="#" class="page-numbers current"><span>1</span></a>
                    <a href="#" class="page-numbers"><span>2</span></a>
                    <a href="#" class="page-numbers"><span>3</span></a>
                    <a href="#" class="page-numbers"><span>4</span></a>
                    <a href="#" class="page-numbers"><span>...</span></a>
                    <a href="#" class="page-numbers"><span>26</span></a>
                    <a href="#" class="page-numbers"><span>27</span></a>
                </nav>
            </div>
        </div>
    </div>
</div>
